import(utils, tcltk, Hmisc, R2HTML)

export(trCallTip,
  trComplete,
  trCopy,
  trDDEInstall,
  trExport,
  trObjList,
  trObjSearch,
  trStartIDE)

S3method(trExport, default)
S3method(trExport, data.frame)
S3method(trExport, matrix)
